<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		    <meta name="uuid" content="{{ uuid }}"/>
		    <meta itemprop="text_direction" content="{{ text_direction }}"/>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <header>
            <h1>Kraken Transcription Interface</h1>
        </header>
        <article>
            <section id="image-list">
                <h2 id="image-list-title"
                    class="section-title">Image List</h2>
                <nav id="image-paths"
                     onload="getImageLinks()">
                    <script type="text/javascript">
                        var pages = [];
                    </script>
                    <ol id="image-list">
                        {% for page in pages %}
                        <script type="text/javascript">
                         var page{{ page.index }} = {};
                         page{{ page.index }}["index"] = {{ page.index  }};
                         page{{ page.index }}["imageFormat"] = "{{ page.img_format }}";
                         page{{ page.index }}["lines"] = [];
                         {% for line in page.lines %}
                         var line{{ line.index }} = {};
                         line{{ line.index }}["x1_real"] = {{ line.left_real }};
                         line{{ line.index }}["width_real"] = {{ line.width_real }};
                         line{{ line.index }}["y1_real"] = {{ line.top_real }};
                         line{{ line.index }}["height_real"] = {{ line.height_real }};
                         line{{ line.index }}["id"] = "{{ line.index }}";
                         line{{ line.index }}["type"] = "line";
                         line{{ line.index }}["bbox"] = "{{ line.bbox  }}";
                         {% if line.text %}
                         line{{ line.index }}["text"] = "{{ line.text }}";
                         {% else %}
                         line{{ line.index }}["text"] = "";
                         {% endif %}
                         page{{ page.index }}["lines"].push(line{{ line.index }});
                         {% endfor %}
                        </script>
                        <li class="image-element">
                            <a id="link-page-{{ page.index }}"
                               class="image-link"
                               onclick="loadImage2Viewer(event)">
                                <img src="images/page_{{ page.index }}.{{ page.img_format }}"
                                     draggable="false"
                                     alt="image of page {{ page.index }}"
                                     id="image-page-{{ page.index }}"
                                     class="thumbnail-images"/>
                                <p>Page {{ page.index }}</p>
                            </a>
                        </li>
                        <script type="text/javascript">
                         pages.push(page{{ page.index }});
                        </script>
                        {% endfor %}
                    </ol>
                    <label id="original-size-lbl">
                        Load Original Size
                        <input type="checkbox"
                               id="original-size-cbox"
                               onchange="loadOriginalSize(event)"/>
                    </label>
                </nav>
            </section>
            <section id="viewer">
                <h2 id="viewer-title"
                    class="section-title">Viewer</h2>
                <div id="image-col">
                    <fieldset id="viewer-tools">
                        <legend>Viewer Tools</legend>
                        <label>
                            Debug mode
                            <input type="checkbox"
                                   onchange="setDebug(event)"
                                   id="debug-cbox"/>
                        </label>
                        <button id="resetScene"
                                class="reset-scene-btn"
                                onclick="resetScene()">
                            Reset Scene
                        </button>
                        <fieldset id="selector-set">
                            <fieldset id="selector-types">
                                <legend>
                                    Available Selectors
                                </legend>
                                <label class="poly-selector-lbl">
                                    Polygon
                                    <input type="radio"
                                           value="polygon-selector"
                                           name="selector-rbutton"
                                           onchange="setSelectorType()"
                                           id="poly-selector-rbutton"/>
                                </label>
                                <label class="rect-selector-lbl">
                                    Rectangle
                                    <input type="radio"
                                           value="rectangle-selector"
                                           name="selector-rbutton"
                                           onchange="setSelectorType()"
                                           id="rect-selector-rbutton"/>
                                </label>
                            </fieldset>
                            <fieldset id="selector-options">
                                <legend>Selector Options</legend>
                                <label>
                                    Activate Selector
                                    <input type="checkbox"
                                           onchange="setSelectionProcess(event)"
                                           id="selector-active-cbox"/>
                                </label>
                                <label class="lbl-holdselection">
                                    Hold Selections
                                    <input type="checkbox"
                                           id="selector-hold-cbox"
                                           onchange="holdSelection()"
                                           class="viewer-checkbox"/>
                                </label>
                                <label class="select-stroke-color-lbl">
                                    Selector Stroke Color
                                    <select id="selector-stroke-color-list"
                                            onchange="setSelectorStrokeColor(event)">
                                        <option value="red"
                                                data-rgb="255,0,0"
                                                class="selector-stroke-color">Red</option>
                                        <option class="selector-stroke-color"
                                                data-rgb="127,0,0"
                                                value="yellow">Yellow</option>
                                        <option class="selector-stroke-color"
                                                data-rgb="0,255,0"
                                                value="green">Green</option>
                                        <option class="selector-stroke-color"
                                                data-rgb="0,0,255"
                                                value="blue">Blue</option>
                                    </select>
                                </label>
                                <label class="select-fill-color-lbl">
                                    Selector Fill Color
                                    <select id="selector-fill-color-list"
                                            onchange="setSelectorFillColor(event)">
                                        <option value="none"
                                                data-rgb="0,0,0"
                                                class="selector-fill-color">
                                            None
                                        </option>
                                        <option value="red"
                                                data-rgb="255,0,0"
                                                class="selector-fill-color">
                                            Red
                                        </option>
                                        <option class="selector-fill-color"
                                                data-rgb="127,0,0"
                                                value="yellow">
                                            Yellow
                                        </option>
                                        <option class="selector-fill-color"
                                                data-rgb="0,255,0"
                                                value="green">
                                            Green
                                        </option>
                                        <option class="selector-fill-color"
                                                data-rgb="0,0,255"
                                                value="blue">
                                            Blue
                                        </option>

                                    </select>
                                </label>
                                <label class="select-fill-opacity-lbl">
                                    Selector Fill Opacity
                                    <select id="selector-fill-opacity-list"
                                            onchange="setSelectorFillOpacity(event)">
                                        <option value="0">0</option>
                                        <option value="0.1">0.1</option>
                                        <option value="0.2">0.2</option>
                                        <option value="0.3">0.3</option>
                                        <option value="0.4">0.4</option>
                                        <option value="0.5">0.5</option>
                                        <option value="0.6">0.6</option>
                                        <option value="0.7">0.7</option>
                                        <option value="0.8">0.8</option>
                                        <option value="0.9">0.9</option>
                                        <option value="1">1</option>
                                        </select>
                                </label>
                            </fieldset> <!-- ends selector options -->
                        </fieldset> <!-- ends selector set -->
                    </fieldset> <!-- ends viewer tools set -->
                    <canvas id="scene"
                            onmouseup="setSceneMouseUp(event)"
                            onmousemove="setSceneMouseMove(event)"
                            onmousedown="setSceneMouseDown(event)">
                    </canvas>
                </div> <!-- ends image-col -->
            </section>
            <section id="transcripter">
                <h2 id="transcripter-title"
                    class="section-title">Transcripter</h2>
                <div class="transcription-col">
                    <div id="hide-tools">
                        <fieldset id="toolbox-set">
                            <legend>Tools</legend>
                            <fieldset id="button-set">
                                <button onclick="deleteBoxes()"
                                        value="" id="deleteButton"
                                        title="Delete Selections">
                                    <img src="assets/icons/delete.svg" alt="Delete Button"/>
                                </button>
                                <button onclick="undoDeletion()" id="undodeleteButton"
                                        title="Undo Delete">
                                    <img src="assets/icons/undo.svg" alt="Undo Icon"/>
                                    <img src="assets/icons/delete.svg" alt="Delete Icon"/>
                                </button>
                                <button onclick="addTranscription()"
                                        id="addTranscriptionButton"
                                        title="Add Selection">
                                    <img src="assets/icons/addbox.svg" alt="Add Selection Button"/>
                                </button>
                                <button onclick="saveEverything()"
                                        id="saveEverythingButton"
                                        title="Save">
                                    <img src="assets/icons/save.svg" alt="Save Button"/>
                                </button>
                                <!-- <button onclick="addLines()" id="addLineButton">
                                     Add Lines
                                     </button>
                                -->
                                <button id="uploadTranscriptionButton"
                                        title="Upload Transcription File"
                                        onclick="uploadTranscription()">
                                    <img src="assets/icons/upload.svg"
                                         alt="Upload Text Button"/>
                                </button>
                                <button id="markRTTranscriptionButton"
                                        title="Mark Right to Left Text"
                                        onclick="markRTLTranscription()">
                                    Mark as Right To Left
                                </button>
                                <button id="markRTLTranscriptionButton"
                                        title="Mark Right to Left Text"
                                        onclick="markLTRTranscription()">
                                    Mark as Left To Right
                                </button>
                            </fieldset>
                            <fieldset id="box-set">
                                <legend>Selected Region Type</legend>
                                <label class="lbl-rbox-container">
                                    Character
                                    <input type="radio"
                                           id="char-rbox"
                                           value="character"
                                           onclick="changeAddTTitle(event)"
                                           name="selected-region-rbutton"/>
                                </label>
                                <label class="lbl-rbox-container">
                                    Line
                                    <input type="radio"
                                           value="line"
                                           onclick="changeAddTTitle(event)"
                                           name="selected-region-rbutton""
                                           id="line-rbox"/>
                                </label>
                                <label class="lbl-rbox-container">
                                    Column
                                    <input type="radio"
                                           value="column"
                                           onclick="changeAddTTitle(event)"
                                           name="selected-region-rbutton""
                                           id="column-rbox"/>
                                </label>
                                <label class="lbl-rbox-container">
                                    Region
                                    <input type="radio"
                                           value="region"
                                           onclick="changeAddTTitle(event)"
                                           name="selected-region-rbutton""
                                           id="region-rbox"/>
                                </label>
                            </fieldset> <!-- ends boxset -->
                        </fieldset> <!-- ends toolbox -->
                        <fieldset>
                            <legend>Options</legend>
                            <label class="lbl-showall">
                                Show All Detected Lines
                                <input type="checkbox"
                                       id="showall-detected-cbox"
                                       class="showall-checkbox"
                                       onchange="showAllDetections(event)"/>
                            </label>
                            <label class="lbl-showall">
                                Show All Selected Lines
                                <input type="checkbox"
                                       id="showall-selected-cbox"
                                       class="showall-checkbox"
                                       onchange="showAllSelections(event)"/>
                            </label>
                            <label class="lbl-showall">
                                Show Everything
                                <input type="checkbox"
                                       id="showall-cbox"
                                       class="showall-checkbox"
                                       onchange="showAllEverything(event)"/>
                            </label>


                            <label class="lbl-selectall">
                                Select/Deselect All Lines
                                <input type="checkbox"
                                       id="selectAllLines-checkbox"
                                       onchange="selectAllLines()"
                                       class="selectAllLines-checkbox"/>
                            </label>
                            <label class="lbl-showviewer">
                                Activate Viewer
                                <input type="checkbox"
                                       id="activateViewer-checkbox"
                                       onchange="activateViewer()"
                                       class="viewer-checkbox"/>
                            </label>
                        </fieldset> <!-- Ends options -->
                    </div>
                    <label class="lbl-showtools">
                        Show Toolbox
                        <input type="checkbox"
                               id="showtoolbox-checkbox"
                               onchange="showToolBox(event)"
                               class="showtoolbox-checkbox"/>
                    </label>
                    <ol id="text-area-list">
                        <li class="item-group" id="ig-">
                            <ul class="item-list" id="il-">
                                <li class="area-widget" id="aw-">
                                    <label class="cbox-container" id="cbc-">
                                        <input type="checkbox"
                                               id="acbox-"
                                               class="area-cbox"/>
                                    </label>
                                </li>

                                <li id="ael-" class="area-element">
                                    <textarea id="ta-"
                                              spellcheck="true"
                                              rows="2"
                                              cols="100"
                                              data-bbox=""
                                              onfocus="showTranscriptionArea(event)"
                                              data-region-type=""
                                              placeholder="Enter text for area"
                                              class="transcription-textarea">
                                    </textarea>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div> <!-- Ends transcription col -->
            </section> <!-- Ends transcription section -->
        </article>
        <script src="js/widgets.js" type="text/javascript"></script>
    </body>

</html>
