<!DOCTYPE html>
<html>
	  <head>
		    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		    <meta name="uuid" content="d8a347b2-1dc1-4f8b-b7bb-f09ff07f5989"/>
		    <meta itemprop="text_direction" content="horizontal-tb"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
		</head>
	  <body>
		    <script language="javascript" type="text/javascript" src="js/jquery-1.11.3.min.js">
         <!--        <script
			   src="https://code.jquery.com/jquery-1.12.4.min.js"
			      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			      crossorigin="anonymous">
        </script> -->
		    <script>

			   $(document).ready(function() {
				     var uuid = $('meta[name=uuid]').attr('content');
				     if (localStorage) {
					       $('li[contenteditable=true], span').each(function(index) {
						         if(localStorage[uuid + this.id]) {
							           $(this).text(localStorage[uuid + this.id]);
						         }
					       });
				     }
				     // focus text fields when lines/words are clicked + mouseover
				     $('a.rect').click(function(e) {
					       e.preventDefault();
					       $('#' + $(this).attr('alt')).focus();
				     }).mouseover(function(e) {
					       $('#' + $(this).attr('alt')).addClass("hovered");
				     }).mouseout(function(e) {
					       $('#' + $(this).attr('alt')).removeClass("hovered");
				     });

				     // create mouseover effect on text fields
				     $('li[contenteditable=true], span').mouseover(function(e) {
					       /* console.log(this.id); */
					       $('a.rect[alt=' + this.id + ']').addClass("hovered");
				     }).mouseout(function(e) {
					       $('a.rect[alt=' + this.id + ']').removeClass("hovered");
				     }).focusin(function(e) {
					       $('a.rect[alt=' + this.id + ']').addClass("hovered");
				     }).focusout(function(e) {
					       $('a.rect[alt=' + this.id + ']').removeClass("hovered");
				     }).keydown(function(e) {
					       if(e.which == 13) {
						         e.preventDefault();
						         $(this).addClass('corrected');
						         var $els = $('[contenteditable=true]');
						         $els.eq($els.index(this) + 1).focus();
					       }
				         // save to local storage 
				     }).keyup(function () {
					       localStorage[uuid + this.id] = $(this).text();
				     });
				     // smooth scrolling
				     $('.page_anchor').click(function(e) {
					       e.preventDefault();
					       var target = $(this).attr("href");
					       var top = $(target).offset().top;
					       $('html, body').stop().animate({scrollTop: top }, 500);
				     });

				     // serializing the DOM to a file
				     $('#download_button').click(function(e) {
					       path = window.location.pathname;
					       $(this).attr('href', 'data:text/html,' + encodeURIComponent($('html')[0].outerHTML));
					       $(this).attr('download', path.substr(path.lastIndexOf('/') + 1));
				     });
			   });
		    </script>
		    <nav>
			      <ul>
				        <li><a class="page_anchor" href='#page_1'>1</a></li>
			      </ul>
			      <a id="download_button" href="#">Download</a>
		    </nav>
		    <section class="page container" id="page_1">
			      <div class="column" id="image-col">
				        <div class="img_container" id="page-image">
                    <script>
                     var imgPath = "images/page_1.png";
                    </script>
					          <img style="width: 100%;" src="images/page_1.png" alt="photo" id="image-page"/>
                    <!-- <canvas id="image-canvas" -->
                    <!-- onmousedown="canvasMouseDown(event)" -->
                    <!-- onmouseup="canvasMouseUp(event)" -->
                    <!-- onmousemove="canvasMouseMove(event)"> -->
                    <!-- </canvas> -->
                    <svg id="image-screen"
                         onmousedown="iscreenMouseDown(event)"
                         onmouseup="iscreenMouseUp(event)"
                         onmousemove="iscreenMouseMove(event)">
                        <image href="images/page_1.png" alt="image photo" id="image-page-svg"/>
                    </svg>
             <!--
						        <a class="rect"
                       alt="line-1"
                       href=""
                       title=""/>
                    <a class="rect"
                           alt="line-2"
                           href=""
                           title=""
                           style="position: absolute; left: 0.5555555555555556%; top: 4.595588235294118%; width: 98.24074074074075%; height: 8.547794117647058%; z-index: 2;"
                           id="2"></a>
						        <a class="rect"
                       alt="line-3"
                       href=""
                       title=""
                       style="position: absolute; left: 0.18518518518518517%; top: 11.029411764705882%; width: 99.81481481481481%; height: 7.9963235294117645%; z-index: 2;"
                       id="3"></a>

						        <a class="rect"
                       alt="line-4"
                       href=""
                       title=""
                       style="position: absolute; left: 0.18518518518518517%; top: 16.544117647058822%; width: 99.81481481481481%; height: 7.904411764705882%; z-index: 2;"
                       id="4"></a>

						        <a class="rect"
                       alt="line-5"
                       href=""
                       title=""
                       style="position: absolute; left: 0.2777777777777778%; top: 22.794117647058822%; width: 99.25925925925925%; height: 7.444852941176471%; z-index: 2;"
                       id="5"></a>

						        <a class="rect"
                       alt="line-6"
                       href=""
                       title=""
                       style="position: absolute; left: 0.18518518518518517%; top: 28.676470588235293%; width: 99.81481481481481%; height: 8.547794117647058%; z-index: 2;"
                       id="6"></a>

						        <a class="rect"
                       alt="line-7"
                       href=""
                       title=""
                       style="position: absolute; left: 2.4074074074074074%; top: 34.83455882352941%; width:97.22222222222223%; height: 8.088235294117647%; z-index: 2;"
                       id="7"></a>

						        <a class="rect"
                       alt="line-8"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 40.900735294117645%; width: 99.16666666666667%; height: 7.9963235294117645%; z-index: 2;"
                       id="8"></a>
					          
						        <a class="rect"
                       alt="line-9"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 47.150735294117645%; width: 99.07407407407408%; height: 8.180147058823529%; z-index: 2;"
                       id="9"></a>
					          
						        <a class="rect"
                       alt="line-10"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 53.58455882352941%; width: 98.24074074074075%; height: 6.985294117647059%; z-index: 2;"
                       id="10"></a>
					          
						        <a class="rect"
                       alt="line-11"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 58.8235294117647%; width: 99.9074074074074%; height: 7.352941176470588%; z-index: 2;"
                       id="11"></a>
					          
						        <a class="rect"
                       alt="line-12"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 64.24632352941177%; width: 98.98148148148148%; height: 8.180147058823529%; z-index: 2;"
                       id="12"></a>
					          
						        <a class="rect"
                       alt="line-13"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 70.58823529411765%; width: 99.9074074074074%; height: 7.8125%; z-index: 2;"
                       id="13"></a>
					          
						        <a class="rect"
                       alt="line-14"
                       href=""
                       title=""
                       style="position: absolute; left: 0.18518518518518517%; top: 76.5625%; width: 99.25925925925925%; height: 8.363970588235293%; z-index: 2;"
                       id="14"></a>
					          
						        <a class="rect"
                       alt="line-15"
                       href=""
                       title=""
                       style="position: absolute; left: 0.18518518518518517%; top: 83.63970588235294%; width: 99.25925925925925%; height: 8.731617647058824%; z-index: 2;"
                       id="15"></a>
					          
						        <a class="rect"
                       alt="line-16"
                       href=""
                       title=""
                       style="position: absolute; left: 0.0%; top: 88.87867647058823%; width: 99.81481481481481%; height: 9.099264705882353%; z-index: 2;"
                       id="16"></a>
                    -->
				        </div>
			      </div>
            <script>
             var line1 = {
                 "x1" : "12",
                 "width" : "1059",
                 "y1" : "0",
                 "height" : "73",
                 "index" : "1",
                 "bbox" : "12, 0, 1071, 73"
             };
             var line2 = {
                 "x1" : "6",
                 "width" : "1061",
                 "y1" : "50",
                 "height" : "93",
                 "index" : "2",
                 "bbox" : "6, 50, 1067, 143"
             };
             var line3 = {
                 "x1" : "2",
                 "width" : "1078",
                 "y1" : "120",
                 "height" : "87",
                 "index" : "3",
                 "bbox" : "2, 120, 1080, 207"
             };
             var line4 = {
                 "x1" : "2",
                 "width" : "1078",
                 "y1" : "180",
                 "height" : "86",
                 "index" : "4",
                 "bbox" : "2, 180, 1080, 266"
             };
             var line5 = {
                 "x1" : "3",
                 "width" : "1072",
                 "y1" : "248",
                 "height" : "81",
                 "index" : "5",
                 "bbox" : "3, 248, 1075, 329"
             };
             var lines = [ line1, line2, line3, line4, line5 ];
            </script>
			      <div class="column">
                <fieldset id="button-set">
                    <button onclick="deleteBoxes()"
                            value="" id="deleteButton"
                            title="Delete Selections">
                        <img src="icons/delete.svg" alt="Delete Button"/>
                    </button>
                    <button onclick="undoDeletion()" id="undodeleteButton"
                            title="Undo Delete">
                            <img src="icons/undo.svg" alt="Undo Icon"/>
                            <img src="icons/delete.svg" alt="Delete Icon"/>
                    </button>
                    <button onclick="addTranscription()"
                            id="addTranscriptionButton"
                            title="Add Selection">
                        <img src="icons/addbox.svg" alt="Add Selection Button"/>
                    </button>
                    <button onclick="saveEverything()"
                            id="saveEverythingButton"
                            title="Save">
                            <img src="icons/save.svg" alt="Save Button"/>
                    </button>
                    <!-- <button onclick="addLines()" id="addLineButton">
                         Add Lines
                         </button>
                    -->
                    <button id="uploadTranscriptionButton"
                            title="Upload Transcription File"
                            onclick="uploadTranscription()">
                        <img src="icons/upload.svg" alt="Upload Text Button"/>
                    </button>
                </fieldset>
                <fieldset id="box-set">
                    <legend>Selected Region Type</legend>
                    <label class="lbl-rbox-container">
                        Character
                        <input type="radio"
                               id="char-rbox"
                               value="char"
                               name="selected-region-rbutton">
                    </label>
                    <label class="lbl-rbox-container">
                        Line
                        <input type="radio"
                               value="line"
                               name="selected-region-rbutton""
                               id="line-rbox">
                    </label>
                    <label class="lbl-rbox-container">
                        Column
                        <input type="radio"
                               value="column"
                               name="selected-region-rbutton""
                               id="column-rbox">
                    </label>
                    <label class="lbl-rbox-container">
                        Region
                        <input type="radio"
                               value="region"
                               name="selected-region-rbutton""
                               id="region-rbox">
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <label class="lbl-showall">
                        Show All Detected Lines
                        <input type="checkbox"
                        id="showall-checkbox"
                        class="showall-checkbox">
                        <span class="checkmark"></span>
                    </label>

                </fieldset>

				        <ol id="text-line-list">
				            <li class="item-group" id="1">
                        <ul class="item-list" id="1">
                            <li class="line-widget" id="1">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="1"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="1"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 0, 1071, 73"
                                data-placeholder="Enter text for line 1"
                                class="editable-line">
					                  </li>
                        </ul>
				            </li>
                    <li class="item-group" id="2">
                        <ul class="item-list" id="2">
                            <li class="line-widget" id="2">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="2"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="2"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="6, 50, 1067, 143"
                                data-placeholder="Enter text for line 2"
                                class="editable-line">
					                  </li>
                        </ul>
                    </li>
                    <li class="item-group" id="3">
                        <ul class="item-list" id="3">
                            <li class="line-widget" id="3">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="3"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="3" contenteditable="true"
                                spellcheck="true"
                                data-bbox="2, 120, 1080, 207"
                                data-placeholder="Enter text for line 3"
                                class="editable-line">
						                </li>
                        </ul>
					          </li>
				            <li class="item-group" id="4">
                        <ul class="item-list" id="4">
                            <li class="line-widget" id="4">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="4"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="4" contenteditable="true"
                                spellcheck="true"
                                data-bbox="2, 180, 1080, 266"
                                data-placeholder="Enter text for line 4"
                                class="editable-line">
						                </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="5">
                        <ul class="item-list" id="5">
                            <li class="line-widget" id="5">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="5"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="5"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="3, 248, 1075, 329"
                                data-placeholder="Enter text for line 5"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="6">
                        <ul class="item-list" id="6">
                            <li class="line-widget" id="6">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="6"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="6"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="2, 312, 1080, 405"
                                data-placeholder="Enter text for line 6"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="7">
                        <ul class="item-list" id="7">
                            <li class="line-widget" id="7">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="7"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="7"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="26, 379, 1076, 467"
                                data-placeholder="Enter text for line 7"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="8">
                        <ul class="item-list" id="8">
                            <li class="line-widget" id="8">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="8"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="8"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 445, 1071, 532"
                                data-placeholder="Enter text for line 8"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="9">
                        <ul class="item-list" id="9">
                            <li class="line-widget" id="9">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="9"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

					                  <li id="9"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 513, 1070, 602"
                                data-placeholder="Enter text for line 9"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="10">
                        <ul class="item-list" id="10">
                            <li class="line-widget" id="10">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id=10"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="10"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 583, 1061, 659"
                                data-placeholder="Enter text for line 10"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="11">
                        <ul class="item-list" id="11">
                            <li class="line-widget" id="11">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="11"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>

					                  <li id="11"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 640, 1079, 720"
                                data-placeholder="Enter text for line 11"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="12">
                        <ul class="item-list" id="12">
                            <li class="line-widget" id="12">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="12"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="12"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 699, 1069, 788"
                                data-placeholder="Enter text for line 12"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="13">
                        <ul class="item-list" id="13">
                            <li class="line-widget" id="13">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="13"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="13"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 768, 1079, 853"
                                data-placeholder="Enter text for line 13"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="14">
                        <ul class="item-list" id="14">
                            <li class="line-widget" id="14">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="14"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="14"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="2, 833, 1074, 924"
                                data-placeholder="Enter text for line 14"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="15">
                        <ul class="item-list" id="15">
                            <li class="line-widget" id="15">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="15"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="15"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="2, 910, 1074, 1005"
                                data-placeholder="Enter text for line 15"
                                class="editable-line">
							              </li>
                        </ul>
					          </li>
	                  <li class="item-group" id="16">
                        <ul class="item-list" id="16">
                            <li class="line-widget" id="16">
                                <label class="del-cbox-container">
                                    <input type="checkbox"
                                           id="16"
                                           class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
					                  <li id="16"
                                contenteditable="true"
                                spellcheck="true"
                                data-bbox="0, 967, 1078, 1066"
                                data-placeholder="Enter text for line 16"
                                class="editable-line">
                            </li>
                        </ul>
					          </li>
				        </ol>
			      </div>
		    </section>
	      <script src="js/widgets.js"></script>
	  </body>
</html>
